# ==========================
# GENERAL
# ==========================
.git/
.gitignore
.DS_Store
thumbs.db
.vscode/
.idea/
*.swp
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsconfig
.vs/

# ==========================
# BACKEND
# ==========================
bin/
obj/
publish/
out/
*.log
*.tlog
*.bak
*.pdb
packages/
*.nupkg
global.json
.project.nuget.cache
.env
secrets.json
.sonarqube/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage.json

# ==========================
# FRONTEND
# ==========================
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.sass-cache/
connect.lock
coverage/
lib/
npm-debug.log
yarn-error.log
test-results/